
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary--color:#E5E5E5;
    --secundary-color: #0A3871;
    --tertiary-color: #D8DFE8;
    --quartenary-color: #FFFFFF;
    --quinary-color: #495057;


    --font-primary: "Inter", sans-serif;
}

* {

    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}
body {
    box-sizing: border-box;
    background-color: var(--primary--color);
}


.logo {
    padding: 3% 0% 0% 3%;
}
.container {
    display: flex;
    padding: 5% 10%;
    justify-content: center;
}

textarea {
    box-sizing: border-box;
    border: none;
    resize: none;
    height: 500px;
    font-size: 2rem;
    font-weight: 400;
}

textarea:focus {
    outline: none;

}
.container__encrypt__textarea {
    background-color: var(--primary--color);
    color: var(--secundary-color);
    
}

::placeholder {
    font-size: 2rem;
    color: var(--secundary-color);

}

.container__info {
    color: #495057;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 2%;
}

.container__btn {
    display: flex;
    gap: 24px;
}

.btn {
    border: none;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 1rem;

}
.btn-encrypt {
    background-color: var(--secundary-color);
    color: var(--quartenary-color)
}

.btn-decrypt {
    background-color: var(--tertiary-color);
    border: 1px solid var(--secundary-color);
    color: var(--secundary-color)
}

.container__message {
    background-color: var(--quartenary-color);
    width: 400px;
    border-radius: 32px;
    height: 105%;
}

.container__message__textarea {
    flex-direction: column;
    align-items: center;
    display: none;
}

.container__message-textarea__item {
    background-color:var(--quartenary-color);
    padding: 5px;
    margin-top: 30px;
    height: 400px;
    border-radius: 32px;
    font-size: 1.5rem;
    color: var(--quinary-color)
    
}

.btn-copy {
    border: 1px solid var(--secundary-color);
    color: var(--secundary-color);
    margin-top: 26%;
}


.container__message__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__message__img {
    width: 336px;
    height: 304px;
    margin-top: 15%;
}

.container__message__info__text1{
    margin: 0 32px 0 32px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.container__message__info__text2 {
    margin: 0 32px 0 32px;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: #495057;
}
footer {
    background-color: var(--secundary-color);
    padding: 24px;
    text-align: center;
    color: var(--quartenary-color);
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5% 5%;
    }
    
    .container__btn {
        flex-direction: column;
        align-items: center;
    }

    .container__message {
        width: auto;
        padding: 3%;
        margin-top: 30px;

    }

    .container__message-textarea__item {
        height: auto;
    }

    .btn-copy {
        width: 279px;
        margin: 32px;
    }


    .container__encrypt__textarea {
        width: 90vw;
        height: auto;
    }

    .container__message__info {
        width: auto;
    }

    .container__message__img {
        display: none;
    }

}